
<table class="table">

    <tr>
        <th>
            User
        </th>
        <th>
            Publication
        </th>
        <th>
            Rating
        </th>
        <th>
            Date
        </th>
        <th>
            Text
        </th>
    </tr>

    @foreach (var item in ViewBag.comments)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.users.name, "Details", "users", new { id = item.users.id }, null)
            </td>
            <td>
                @Html.ActionLink((string)item.publications.name, "FilterByPublication", "comments", new { id = item.publications.id }, null)
            </td>
            <td>
                @item.rating
            </td>
            <td>
                @item.date        
            </td>
            <td>
                @item.text
            </td> 
        </tr>
            
    }
</table>
