
<h1>@Html.Raw((string)ViewBag.theme)</h1>


<table class="table">
    <tr>
        <td>
            <h4>Publication title</h4>
        </td>
        <td>
            <h4>Date</h4>
        </td>
        <td>
            <h4>User</h4>
        </td>
        <td>
            <h4>Rating</h4>
        </td>
    </tr>
    @foreach (var item in ViewBag.publications)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.name, "FilterByPublication", "comments", new { id = item.id }, null)
            </td>
            <td>
                @Html.Raw((DateTime)item.date)
            </td>
            <td>
                @Html.Raw("userName")
            </td>
            <td>
                @Html.Raw((int)item.rating)
            </td>
        </tr>
    }
</table>
