@model IEnumerable<blogDBApp.Models.themes>

@{
    ViewBag.Title = "Themes";
}

<h1>Themes</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h4>Theme title</h4>
        </th>
        <th>
            <h4>CRUD functionality</h4>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink((string)item.name,"FilterByTheme", "publications", new { id = item.id }, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
