<h1>
    @Html.ActionLink("Publications", "Search", "publications")
</h1>
<h1>
    @Html.ActionLink("Users", "Search", "users")
</h1>
<h1>
    @Html.ActionLink("Comments", "Search", "comments")
</h1>
<h1>
    @Html.ActionLink("Themes", "Search", "themes")
</h1>
<h1>
    @Html.ActionLink("Messages", "Search", "messages")
</h1>
<h1>
    @Html.ActionLink("Requests", "Requests")
</h1>
